# Streamlit app
streamlit>=1.37

# Manipulação de dados
pandas>=2.2
numpy>=1.26

# Excel
openpyxl>=3.1
xlrd==1.2.0   # necessário para ler arquivos .xls antigos

# Visualização
plotly>=5.24
